* {
    text-align: center;
}
.container-1 {
    background-color: rgb(216, 216, 216);
    width: 80%;
    margin: auto;
}
.container-1 p, .container-1 input {
    margin-bottom: 0;
    margin-top: 0;
}
.container-1 input {
    width: 300px;
    display: block;
    margin: auto;
}
.container-234 {
    width: 80%;
    margin: auto;
}
.container-2, .container-3, .container-4 {
    float: left;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    height: 78px;
}
.container-2 {
    width: 34%;
    background-color: #7EE5DA;
}
.container-2 p, .container-2 a{
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}
.container-3 {
    width: 20%;
    background-color: #70CCC2;
}
.container-3 a {
    display: block;
    font-size: 12px;
}
.container-4 {
    width: 45%;
    background-color: #62B3AA;
}
.container-4 p, .container-4 input {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.container-4 p, .container-4 input, .container-4 button, .container-4 a {
    margin-top: 0;
    margin-bottom: 0;
}
.container-4 p {
    font-size: 13px;
}
footer {
    display: block;
    margin-top: 100px;
    font-size: 12px;
}